
/*
  import this for app
 */
@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}


.back-ground {
  background-image: url("../public/images/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.cc{
  max-height: 100vh;
}
